fastapi
uvicorn
sqlalchemy
python-jose
passlib[bcrypt]
ultralytics
requests>=2.27.1
Pillow>=5.2.0
tensorflow>=1.9.0
opencv-python
numpy
onnxruntime
insightface
faiss-cpu
python-multipart